---
layout: "main.njk"
title: "Abstract"
seoTitle: "Abstract x Mike Stilling: Pivoting to a new product"
seoDescription: "See how Mike helped Abstract pivot to and market a new product"
ogTitle: "Abstract x Mike Stilling: Pivoting to a new product"
ogDesc: "See how Mike helped Abstract pivot to and market a new product"
ogImage: "/assets/images/og/default.png"
ogImageAlt: "This is the alt text for social cards images"
role: "Sr. Web Designer"
tags: project
theme: dark
changefreq: daily
---
{% import "_icons.njk" as icons %}

<main>

    {# Hero #}
    <section class="section">
        <div class="container pt:112 sm:pt:144 md:pt:192 pb:48 sm:pb:80 md:pb:96 flex flex:col gap:48 sm:gap:64 md:gap:96">
            {# Content #}
            <div class="relative flex flex:col md:flex:row align-items:center md:align-items:end md:justify-content:between text:center md:text:left">
                <h1 class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                    Introducing<br> <span class="space:nowrap">Notebooks.</span>
                </h1>
                <p class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 max-w:576 md:max-w:50p md:mb:16">
                    With the growth of Figma, Abstract pivoted from their initial git-for-Sketch product to a Notion-like product for design teams.
                </p>
            </div>
            <div class="flex ratio:16-9 bg:sheet-4-i ml:n24 sm:ml:0 w:plus48 sm:w:100p"></div>
        </div>
    </section>

    {# Content #}
    <section class="section">
        <div class="container flex flex:col align-items:center">
            {% set normalP = 'font:xl sm:font:2xl leading:170 opacity:80' %}
            {# Headline #}
            <div class="content:experience">
                <h2 class="intro">
                    In early 2021, Mike joined Abstract as a Senior Web Designer. Mike's core focus at Abstract was helping the marketing org rapidly transition and repurpose touchpoints to promote the new Notebooks product.
                </h2>
                <p>
                    Mike's time at Abstract ended with the acquisition of Notebooks by Adobe in November of 2021. Leading up to that, Mike had rebuilt and redesigned the core pages of the marketing site, shipped an all new content-hub, redesigned the sign-up experience, and created numerous campaign assets.
                </p>
                <p>
                    Abstract's design methodology and practice was top notch. Upon joining, Mike had to quickly learn, grow, and execute at a high-bar of quality in a different style than he was accustomed to fast, alongside other excellent designers.
                </p>
            </div>
            {# Efficiency #}
            <div class="content:experience">
                <h3>
                    <span class="italic font:serif">Getting</span> started
                </h3>
                <p>
                    Abstract was Mike's first experience working in-house at a SaaS company. Prior to that, he had worked with tech companies from the agency side. To some extent, ignorance was bliss.
                </p>
                <p >
                    Mike hadn't heard of <a href="https://www.adamho.com/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">Adam Ho</a>, one of folks who designed the original Abstract brand. He never heard of <a href="https://finsweet.com/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">FinSweet</a>, the world class Webflow agency that originally built the Abstract site. Nor had he understood how gnarly his team's credentials were.
                </p>
                <p>
                    If he did, maybe it would have been a little more intimidating. Instead, he was just excited about the seemingly insane company benefits, bump in pay, and to dive on in.
                </p>
                <h4>
                    Learning from <span class="italic font:serif">the best</span>
                </h4>
                <p>
                    At any given moment, "good" SaaS branding is fairly predictable. As a single person strapped on time, Mike wasn't about to try reinventing this. Instead, he looked toward what currently works for "the cool kids" — brands like <a href="https://linear.app/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">Linear</a>, <a href="https://stripe.com/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">Stripe</a>, <span class="space:nowrap">and <a href="https://vercel.com/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">Vercel</a>.</span>
                </p>
                <p>
                    That part is fairly simple, clean typography, realistic UI snippets, and lots of white space. Seeing as Rewatch's CEO is a product designer, balancing the internal teams preferences was a major factor too. Not sure if every company is like this, but the overall sentiment there was <span class="space:nowrap">"we like Apple..."</span>
                </p>
                <p>
                    Knowing there's no budget or time for 3D renderings or custom photography and also that there's no physical product — Mike reached for what was achievable, nice type <span class="space:nowrap">and white space.</span>
                </p>
                <p>
                    For the final touches, Mike looked toward the product for direction. Thankfully, Rewatch's product design team is top notch. He pulled the primary color from there, and the UI snippets often used as visual elements <span class="space:nowrap">looked great.</span>
                </p>
                <h4>
                    Learning from <span class="italic font:serif">the best</span>
                </h4>
                <p>
                    Mike also designed, built, and managed Rewatch's marketing website. He chose tools that made building quick and flexible, while straightforward enough for the product folks to dive into, <span class="space:nowrap">if help</span> was <span class="space:nowrap">ever needed.</span>
                </p>
                <p>
                    To accomplish this, he used <a href="http://11ty.dev" target="_blank" rel="noopener noreferrer" class="link link-rg-i">Eleventy</a> as an SSG, with <a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">Nunjucks</a> for templating, and <a href="https://uniformcss.com/" target="_blank" rel="noopener noreferrer" class="link link-rg-i">UniformCSS</a> as a utility framework; resulting in markup that was nearly identical to the product's front-end. This enabled collaboration from the product team along with the ability to design in code — which saves the team a lot of time during the page creation process.
                </p>
                <p>
                    Since CMS's often promote over-templatization, Mike and the team opted to only rollout CMS functionality in places where it was absolutely needed, such as the blog and changelog. Mike used Netlify CMS (now Decap), as a minimalist solution. Being Git-based and writing to markdown, this CMS fit well with the existing content structure.
                </p>
            </div>
            {# Quality #}
            <div class="content:experience">
                <h3>
                    <span class="italic font:serif">on</span> Quality
                </h3>
                <p>
                    Moving extremely fast will lead to sloppiness. It's inevitable. At some point, there will be work that is not as great as it could be. At Rewatch, Mike tried to minimize this by taking a thoughtful approach to visual direction.
                </p>
                <p>
                    While it's not always the flashiest route, minimalism paired with straightforward messaging that's easily understood works. Making this approach look good isn't too challenging either. Circling back: clean typography, lots of whitespace.
                </p>
                <h4>
                    Benefits <span class="font:serif italic">vs.</span> features
                </h4>
                <p>
                    Landing on messaging was a consistent challenge at Rewatch. As a tiny, series A company targetting much larger businesses, the team often looked toward giants for direction. This approach yielded the appeal of benefits based messaging.
                </p>
                <p>
                    As a designer, benefits based messaging is a nightmare when used on a product that most people are unfamiliar with. For instance, imagine trying to express or visualize "Work better, together" — but not for Slack or Teams. Frankly, this route was just confusing. While design could be visually appealing, it was not meaningful, comprehendable, or effective.
                </p>
                <p>
                    To advocate against it and change direction, Mike pointed to analytics. Analytics showed success where simple feature-based messaging was implemented. He'd also create "spikes" that visualized how a specific project could look if the feature-based approach was taken instead.
                </p>
                <p>
                    Slowly, but surely, the team began to see the benefits of feature-based messaging and it was adopted. As such, conversion rates increased, creative became clearer, and viewers were able to comprehend the product, faster.
                </p>
            </div>
            {# Impact #}
            <div class="content:experience">
                <h3>
                    <span class="italic font:serif">Prioritizing</span> Impact
                </h3>
                <p>
                    How we spend our time is always a tradeoff. To actively focus on "X" means not focusing on "Y" — and, when there's an endless pile of work in front of us, it's easy to lose sight of this.
                </p>
                <p>
                    To add to this, most mainstream marketing practices today promote quantity over quality, think content or account-based marketing. These tactics add to that pile while often further distracting from what is likely a more fundamental hurdle in selling software.
                </p>
                <h4>
                    Focus <span class="font:serif italic">on the</span> fundies
                </h4>
                <p>
                    Historically, Rewatch has ran a lot of ads,  published a lot of content, and spent a lot of time optimizing it's G2 page. If we're being honest, way too much for what it's gotten in return.
                </p>
                <p>
                    This lack of result made Mike start questioning the value in a lot of the work being asked of him. Like, who is actually convinced to buy software from a corny social post with a bunch of G2 badges? Or, do we honestly think people want to read another B2B SaaS blog post? Even if these ads get clicked, what in the hell makes a "knowledge engine" and how does Rewatch actually "enable video collaboration"?
                </p>
                <p>
                    A handful of core pages on Rewatch's website were organically getting more direct traffic than most of the LPs paid ads were driving to, especially LPs driven to from paid social. However, the conversion rate on these pages was abismal. <span class="opacity:50 italic font:serif">(re-enter benefit vs. feature-based messaging)</span>
                </p>
                <p>
                    By simply hitting an industry standard conversion rate on these pages, Rewatch could nearly 2x sign-ups. Mike shifted his focus toward these pages and began advocating that the team allocate time toward rebuilding them. Analytics again came to the rescue for getting buy-in.
                </p>
                <p>
                    Starting with the most visited page, the homepage, Mike re-built the core pages of the site with a mission to better communicate the fundamental aspects/functionality of the product. Upon completion, this lead to an increase in sign-ups, qualified sales leads, and ARR.
                </p>
            </div>
            {# Takeaways #}
            <div class="content:experience">
                <h3>
                    Key <span class="italic font:serif">Takeaways</span>
                </h3>
                <p>
                    Throughout Mike's ~2 years at Rewatch, he has grown a lot as a designer, developer, and director. A few key takeaways from his time there are:
                </p>
                <h4>
                    First, nail the basics
                </h4>
                <p>
                    Whether it's design, development, or marketing — the fundamental aspects of anything are what matter most. Make sure they work before building on top of them.
                </p>
                <h4>
                    Simple works
                </h4>
                <p>
                    At one point, Mike tried building out 3D UI mocks like Microsoft Fluent uses... It was a lot, and a total flop. He reverted to regular 1:1 UI mocks and they looked just as good. In summary, simple doesn't mean boring or ugly. Usually it's easier to build well and understand anyway.
                </p>
                <h4>
                    Marketing is part of the job
                </h4>
                <p>
                    Just like designers get ideas and feedback from their friends in marketing, marketers should be getting ideas and feedback from folks in design. As creators, we have the unique ability to build ideas outside of a word doc, take advantage of that.
                </p>
            </div>
        </div>
    </section>

</main>