---
layout: "main.njk"
tags: project
barba: experience
theme: dark
changefreq: monthly
---
{% import "_icons.njk" as icons %}

<main>

    {# Hero #}
    <section class="section"  style="background: {{ gradient }};">
        <div class="container pt:112 sm:pt:144 md:pt:192 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48 sm:gap:64 md:gap:96">
            <div class="flex flex:col align-items:center text:center">
                <h1 class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                    {{ headline | safe }}
                </h1>
                <p class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 max-w:768 md:mb:16">
                    {{ subhead | safe }}
                </p>
            </div>
            <div class="flex ratio:16-9 bg:sheet-4-i ml:n24 sm:ml:0 w:plus48 sm:w:100p"></div>
        </div>
    </section>

    {# Content #}
    <section class="section">
        <div class="container flex flex:col align-items:center markdown">
            {{ content | safe }}
        </div>
    </section>

</main>