---
layout: "main.njk"
tags: blog
theme: dark
changefreq: monthly
---

<main>

    <section class="section">
        <div data-blogpost-gradient class="absolute top:0 left:0 w:100p h:100p hidden" style="background: {{ gradient }};"></div>
        <div class="container pt:112 sm:pt:128 md:pt:144 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48">
            <div class="flex flex:col align-items:center text:center">
                <div class="relative flex flex:col align-items:center gap:4 text:center mb:40">
                    <p class="font:serif font:xl">
                        Opinion
                    </p>
                    <div class="w:100p border-b:1 border:primary-rg"></div>
                </div>
                <h1 class="font:serif font:8xl sm:font:8xl md:font:10xl leading:110 mb:24 tracking:tight">
                    {{ headline | safe }}
                </h1>
                <p class="font:xl sm:font:2xl opacity:70 leading:130">
                    Cause nobody is actually interested <span class="space:nowrap">in solutions to enterprise problems</span>
                </p>
            </div>
            <div class="flex ratio:1-1 sm:ratio:4-3 md:ratio:16-9 bg:sheet-4-i ml:n24 sm:ml:0 w:plus48 sm:w:100p"></div>
        </div>
    </section>

    <section class="section pb:32">
        <div class="container flex flex:col align-items:center markdown">
            {{ content | safe }}
        </div>
    </section>

</main>