---
layout: "main.njk"
tags: casestudy
theme: dark
changefreq: monthly
---
{% import "components/_icons.njk" as icons %}

<main>

    {# Hero #}
    {% if title == 'Rewatch' %}
        <section data-rewatch-hero class="section overflow:hidden">
            <div data-rewatch-gradient class="absolute top:0 left:0 w:100p h:100p" style="background: {{ gradient }};"></div>
            <div class="container pt:112 sm:pt:144 md:pt:192 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48">
                {# Headline #}
                <div class="relative flex flex:col align-items:center text:center transform">
                    <h1 data-rewatch-headline class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                        Meet less. <span class="space:nowrap">Build more.</span>
                    </h1>
                    <p data-rewatch-subhead class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 md:max-w:8-12 lg:max-w:768 md:mb:16">
                        <span class="space:nowrap">Rewatch saves, summarizes, and shares</span> <span class="space:nowrap md:space:normal">your company's meetings and screen</span> <span class="space:nowrap">recordings in a collaborative format.</span>
                    </p>
                </div>
                {# Graphics #}
                <div class="relative w:100p">
                    <div data-rewatch-meetings aria-hidden="true" class="relative w:100p hidden md:block transform transform:center-bottom">
                        {% macro meeting(classes, head, desc) %}
                            <div data-rewatch-meeting class="absolute pl:16 pr:12 py:8 min-w:160 bg:primary-rg bg-opacity:10 border:1 border-opacity:30 border:primary-rg radius:md shadow:lg overflow:hidden transform {{ classes }}">
                                <div class="absolute top:0 left:0 w:4 h:100p bg:primary-rg bg-opacity:30"></div>
                                <div class="font:sm line-through">
                                    {{ head | safe }}
                                </div>
                                <div class="font:xs opacity:70 mb:n2">
                                    {{ desc | safe }}
                                </div>
                            </div>
                        {% endmacro %}
                        {{ meeting(
                            classes='top:n112 lg:top:n128 left:n24 lg:left:n48 rotate:n12',
                            head='Project sync',
                            desc='9:00 - 9:30AM'
                        )}}
                        {{ meeting(
                            classes='top:n80 right:n48 rotate:8',
                            head='GTM standup',
                            desc='9:30 - 10:00AM'
                        )}}
                        {{ meeting(
                            classes='top:n288 left:n72 lg:left:n192 rotate:6 ml:12',
                            head='Mike / Sarah',
                            desc='10:00 - 10:30AM'
                        )}}
                        {{ meeting(
                            classes='top:n288 lg:top:n320 right:n32 lg:right:n192 rotate:n8 mr:12',
                            head='Design review',
                            desc='10:30 - 11:00AM'
                        )}}
                        {{ meeting(
                            classes='top:96 left:n128 rotate:8',
                            head='Marketing sync',
                            desc='11:00 - 11:30AM'
                        )}}
                        {{ meeting(
                            classes='top:128 right:n160 rotate:n12 mr:8',
                            head='Sprint planning',
                            desc='11:30 - 12:00PM'
                        )}}
                    </div>
                    {# UI #}
                    <div data-rewatch-hero-img-outer class="relative z:2 flex flex:col ratio:4-3 sm:ratio:16-9 bg:sheet-1 w:100p shadow:xl radius:md sm:radius:lg overflow:hidden">
                        {# Browser #}
                        <div class="relative flex-shrink:0 z:2 w:100p h:32 sm:h:48 flex align-items:center justify-content:between px:8 sm:px:16 border-b:1 border:black border-opacity:4 color:ink-1" style="background-color:#ECECEE;">
                            <div class="flex gap:8 w:32 sm:w:72">
                                <div class="w:8 h:8 sm:w:12 sm:h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#ED6A5E;"></div>
                                <div class="hidden sm:block w:12 h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#F5BE4F;"></div>
                                <div class="hidden sm:block w:12 h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#61C554;"></div>
                            </div>
                            <div class="w:100p h:20 sm:h:28 max-w:576 radius:sm text:center font:xs sm:font:sm leading:100 flex align-items:center justify-content:center border:1 border:black border-opacity:4" style="background-color:#DFDFE1;">
                                rewatch.com
                            </div>
                            <div class="flex gap:8 justify-content:end align-items:center w:32 sm:w:72">
                                {{ icons.macTabs('hidden sm:block w:24 opacity:50')}}
                                {{ icons.macPlus('w:20 sm:w:24 opacity:50')}}
                            </div>
                        </div>
                        <img
                            src="/assets/images/graphics/rewatch-page-header.webp"
                            alt="rewatch website header section"
                            width="1152" height="37"
                            class="relative w:100p h:auto max-w:none z:2 shadow:headerLight"
                        />
                        <img
                            data-rewatch-hero-img-inner
                            src="/assets/images/graphics/rewatch-page-hero.webp"
                            alt="rewatch marketing website design"
                            width="1152" height="1440"
                            class="relative w:100p h:auto max-w:none z:1"
                        />
                    </div>
                </div>
            </div>
        </section>
    {% elif title == 'FireHydrant' %}
        <section data-fh-hero class="section overflow:hidden">
            <div data-fh-gradient class="absolute top:0 left:0 w:100p h:100p" style="background: {{ gradient }};"></div>
            <div class="container pt:112 sm:pt:144 md:pt:192 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48">
                {# Headline #}
                <div data-hero-text class="relative flex flex:col align-items:center text:center transform">
                    <h1 data-fh-headline class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                        Incident Management
                    </h1>
                    <p data-fh-subhead class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 md:max-w:67p lg:max-w:768 md:mb:16">
                        FireHydrant helps engineering teams automate, respond to, learn from, and improve upon <span class="space:nowrap">their incidents.</span>
                    </p>
                </div>
                {# Graphics #}
                <div class="relative w:100p">
                    {# Decoration #}
                    {% macro gridCell(bl, bb, bt) %}<div class="w:72 h:72 border:white border-opacity:15 {% if bl %}border-l:1{% endif %} {% if bb %}border-b:1{% endif %} {% if bt %}border-t:1{% endif %}"></div>{% endmacro %}
                    <div data-fh-grids class="hidden sm:block w:100p relative">
                        <div data-fh-grid class="absolute top:n192 left:n320 flex flex:col" style="mask-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%); -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);">
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell() }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                            </div>
                        </div>
                        <div data-fh-grid class="absolute top:n192 right:n320 flex flex:col" style="mask-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%); -webkit-mask-image: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);">
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell(bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                                {{ gridCell(bl=true, bb=true) }}
                            </div>
                            <div class="flex">
                                {{ gridCell() }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                                {{ gridCell(bl=true) }}
                            </div>
                        </div>
                    </div>
                    {# UI #}
                    <div data-fh-hero-img-outer class="relative z:2 flex flex:col ratio:4-3 sm:ratio:16-9 w:100p shadow:xl radius:md sm:radius:lg overflow:hidden">
                        {# Browser #}
                        <div class="relative flex-shrink:0 z:2 w:100p h:32 sm:h:48 flex align-items:center justify-content:between px:8 sm:px:16 border-b:1 border:white border-opacity:6 color:ink-1 bg:sheet-3-i">
                            <div class="flex gap:8 w:32 sm:w:72">
                                <div class="w:8 h:8 sm:w:12 sm:h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#ED6A5E;"></div>
                                <div class="hidden sm:block w:12 h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#F5BE4F;"></div>
                                <div class="hidden sm:block w:12 h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#61C554;"></div>
                            </div>
                            <div class="w:100p h:20 sm:h:28 max-w:576 radius:sm text:center font:xs color:ink-1-i sm:font:sm leading:100 flex align-items:center justify-content:center border:1 border:white border-opacity:6 bg:sheet-2-i">
                                firehydrant.com
                            </div>
                            <div class="flex gap:8 justify-content:end align-items:center w:32 sm:w:72 color:ink-2-i">
                                {{ icons.macTabs('hidden sm:block w:24 opacity:50')}}
                                {{ icons.macPlus('w:20 sm:w:24 opacity:50')}}
                            </div>
                        </div>
                        <img
                            data-fh-hero-img-inner
                            src="/assets/images/graphics/firehydrant-page-hero.webp"
                            alt="FireHydrant marketing website design"
                            width="1200" height="625"
                            class="relative w:100p h:auto max-w:none z:1"
                        />
                    </div>
                </div>
            </div>
        </section>
    {% elif title == 'Abstract' %}
        <section data-abstract-hero class="section overflow:hidden">
            <div data-abstract-gradient class="absolute top:0 left:0 w:100p h:100p" style="background: {{ gradient }};"></div>
            <div class="container pt:112 sm:pt:144 md:pt:192 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48">
                {# Headline #}
                <div data-abstract-text class="relative flex flex:col align-items:center text:center transform">
                    <h1 data-abstract-headline class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                        Introducing Notebooks
                    </h1>
                    <p data-abstract-subhead class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 md:max-w:67p lg:max-w:768 md:mb:16">
                        After Figma arrived, Abstract pivoted from their initial git-for-Sketch tool to a Notion-like product for designers.
                    </p>
                </div>
                {# Graphics #}
                <div class="relative w:100p">
                    {# Decoration #}
                    <div data-abstract-decor class="hidden md:block w:100p relative">
                        <img
                            data-abstract-decoration
                            src="/assets/images/graphics/abstract-cherry.svg"
                            alt=""
                            width="180" height="180"
                            class="absolute top:n256 left:n64 w:128 h:auto transform rotate:n12"
                        />
                        <img
                            data-abstract-decoration
                            src="/assets/images/graphics/abstract-pencil.svg"
                            alt=""
                            width="180" height="180"
                            class="absolute top:n224 right:n32 w:128 h:auto transform rotate:n12"
                        />
                        <img
                            data-abstract-decoration
                            src="/assets/images/graphics/abstract-paperclip.svg"
                            alt=""
                            width="180" height="180"
                            class="absolute top:n112 left:n144 w:128 h:auto transform rotate:n45"
                        />
                        <img
                            data-abstract-decoration
                            src="/assets/images/graphics/abstract-text.svg"
                            alt=""
                            width="180" height="180"
                            class="absolute top:n112 right:n144 w:128 h:auto transform rotate:45"
                        />
                        <img
                            data-abstract-decoration
                            src="/assets/images/graphics/abstract-key.svg"
                            alt=""
                            width="180" height="180"
                            class="absolute top:48 left:n160 w:144 h:auto transform rotate:n45"
                        />
                        <img
                            data-abstract-decoration
                            src="/assets/images/graphics/abstract-folders.svg"
                            alt=""
                            width="180" height="180"
                            class="absolute top:48 right:n160 w:144 h:auto transform rotate:n12"
                        />
                    </div>
                    {# UI #}
                    <div data-abstract-hero-img-outer class="relative z:2 flex flex:col w:100p shadow:xl radius:md sm:radius:lg overflow:hidden border:1 border:white border-opacity:10">
                        {# Browser #}
                        <div class="relative flex-shrink:0 z:2 w:100p h:32 sm:h:48 flex align-items:center justify-content:between px:8 sm:px:16 border-b:1 border:white border-opacity:6 color:ink-1 bg:sheet-3-i">
                            <div class="flex gap:8 w:32 sm:w:72">
                                <div class="w:8 h:8 sm:w:12 sm:h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#ED6A5E;"></div>
                                <div class="hidden sm:block w:12 h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#F5BE4F;"></div>
                                <div class="hidden sm:block w:12 h:12 radius:full border:1 border:black border-opacity:10" style="background-color:#61C554;"></div>
                            </div>
                            <div class="w:100p h:20 sm:h:28 max-w:576 radius:sm text:center font:xs color:ink-1-i sm:font:sm leading:100 flex align-items:center justify-content:center border:1 border:white border-opacity:6 bg:sheet-2-i">
                                abstract.com
                            </div>
                            <div class="flex gap:8 justify-content:end align-items:center w:32 sm:w:72 color:ink-2-i">
                                {{ icons.macTabs('hidden sm:block w:24 opacity:50')}}
                                {{ icons.macPlus('w:20 sm:w:24 opacity:50')}}
                            </div>
                        </div>
                        <img
                            data-abstract-hero-img-inner
                            src="/assets/images/graphics/abstract-page-hero.webp"
                            alt="FireHydrant marketing website design"
                            width="1152" height="768"
                            class="relative w:100p h:auto max-w:none"
                        />
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="section"  style="background: {{ gradient }};">
            <div class="container pt:112 sm:pt:144 md:pt:192 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48">
                <div class="flex flex:col align-items:center text:center">
                    <h1 class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                        {{ headline | safe }}
                    </h1>
                    <p class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 max-w:768 md:mb:16">
                        {{ subhead | safe }}
                    </p>
                </div>
                <div class="flex ratio:16-9 bg:sheet-4-i ml:n24 sm:ml:0 w:plus48 sm:w:100p"></div>
            </div>
        </section>
    {% endif %}

    {# Content #}
    <section class="section pb:32">
        <div class="container flex flex:col align-items:center markdown">
            {{ content | safe }}
        </div>
    </section>

    {# Closing #}
    <section class="section">
        <div class="container flex flex:col align-items:center">
            <img
                src="/assets/images/graphics/finish-line.svg"
                alt="finish line"
                width="640" height="88"
                class="relative w:100p h:auto max-w:640 z:1"
                loading="lazy"
                decoding="async"
            />
            <div class="pt:48 pb:40 w:100p max-w:640 border-y:1 border:white border-opacity:10 text:center font:serif italic font:4xl sm:font:5xl">
                {{ closing | safe}}
            </div>
            <div class="pt:24 pb:20 md:pb:24 w:100p max-w:640 text:center font:sm uppercase tracking:loosest">
                <span class="opacity:70">Still wanting more? Check out <span class="space:nowrap">these other case studies from Mike</span></span>
            </div>
            <div class="w:100p max-w:640 md:max-w:none flex flex:col md:flex:row gap:32 section:pb">
                {% for post in collections.casestudy | removeCurrent(title) %}
                    <a href="/case-studies/{{ post.data.title | slugify }}/" class="relative z:1 w:100p radius:md overflow:hidden cs-thumb">
                        <div class="relative w:100p">
                            <img
                                src="/assets/images/graphics/thumb-{{ post.data.title | slugify }}.webp"
                                alt="{{ post.data.title}} website hero section"
                                width="1280" height="672"
                                class="relative w:100p h:auto cs-thumb-img"
                                loading="lazy"
                                decoding="async"
                            />
                        </div>
                        {% if loop.index <= 1 %}<div class="absolute bottom:n160 left:n320 flex w:640 ratio:2-1 bg:primary-rg" style="border-radius:100%; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--sheet-6-i), 1) 0%, rgba(var(--sheet-6-i), 0) 100%)"></div>{% endif %}
                        {% if loop.index > 1 %}<div class="absolute bottom:n160 right:n320 flex w:640 ratio:2-1 bg:primary-rg" style="border-radius:100%; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--sheet-6-i), 1) 0%, rgba(var(--sheet-6-i), 0) 100%)"></div>{% endif %}
                        <div class="absolute bottom:0 {% if loop.index > 1 %}right:0 {% else %}left:0{% endif %} flex align-items:center py:4 px:12">
                            {% if loop.index <= 1 %}
                                {{ icons.chevLeft('w:20 sm:w:24 transform cs-thumb-svg-left') }}
                            {% endif %}
                            <h2 class="font:2xl sm:font:3xl">
                                {{ post.data.title }}
                            </h2>
                            {% if loop.index > 1 %}
                                {{ icons.chevRight('w:20 sm:w:24 transform cs-thumb-svg-right') }}
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

</main>