---
layout: "main.njk"
tags: casestudy
barba: experience
theme: dark
changefreq: monthly
---
{% import "components/_icons.njk" as icons %}

<main>

    {# Hero #}
    <section class="section"  style="background: {{ gradient }};">
        <div class="container pt:112 sm:pt:144 md:pt:192 pb:40 sm:pb:80 md:pb:96 flex flex:col align-items:center gap:48 sm:gap:64 md:gap:96">
            <div class="flex flex:col align-items:center text:center">
                <h1 class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                    {{ headline | safe }}
                </h1>
                <p class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 max-w:768 md:mb:16">
                    {{ subhead | safe }}
                </p>
            </div>
            <div class="flex ratio:16-9 bg:sheet-4-i ml:n24 sm:ml:0 w:plus48 sm:w:100p"></div>
        </div>
    </section>

    {# Content #}
    <section class="section pb:32">
        <div class="container flex flex:col align-items:center markdown">
            {{ content | safe }}
        </div>
    </section>

    {# Closing #}
    <section class="section">
        <div class="container flex flex:col align-items:center">
            <img
                src="/assets/images/graphics/finish-line.svg"
                alt="finish line"
                width="640" height="88"
                class="relative w:100p h:auto max-w:640 z:1"
                loading="lazy"
                decoding="async"
            />
            <div class="pt:48 pb:40 w:100p max-w:640 border-y:1 border:white border-opacity:10 text:center font:serif italic font:4xl sm:font:5xl">
                {{ closing | safe}}
            </div>
            <div class="pt:24 pb:20 md:pb:24 w:100p max-w:640 text:center font:sm uppercase tracking:loosest">
                <span class="opacity:70">Still wanting more? Check out <span class="space:nowrap">these other case studies from Mike</span></span>
            </div>
            <div class="w:100p max-w:640 md:max-w:none flex flex:col md:flex:row gap:32 section:pb">
                {% for post in collections.casestudy | removeCurrent(title) %}
                    <a href="/case-studies/{{ post.data.title | slugify }}/" class="relative z:1 w:100p radius:md overflow:hidden cs-thumb">
                        <div class="relative w:100p">
                            <img
                                src="/assets/images/graphics/thumb-{{ post.data.title | slugify }}.webp"
                                alt="{{ post.data.title}} website hero section"
                                width="1280" height="672"
                                class="relative w:100p h:auto cs-thumb-img"
                                loading="lazy"
                                decoding="async"
                            />
                        </div>
                        {% if loop.index <= 1 %}<div class="absolute bottom:n160 left:n320 flex w:640 ratio:2-1 bg:primary-rg" style="border-radius:100%; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--sheet-6-i), 1) 0%, rgba(var(--sheet-6-i), 0) 100%)"></div>{% endif %}
                        {% if loop.index > 1 %}<div class="absolute bottom:n160 right:n320 flex w:640 ratio:2-1 bg:primary-rg" style="border-radius:100%; background: radial-gradient(50% 50% at 50% 50%, rgba(var(--sheet-6-i), 1) 0%, rgba(var(--sheet-6-i), 0) 100%)"></div>{% endif %}
                        <div class="absolute bottom:0 {% if loop.index > 1 %}right:0 {% else %}left:0{% endif %} flex align-items:center py:4 px:12">
                            {% if loop.index <= 1 %}
                                {{ icons.chevLeft('w:20 sm:w:24 transform cs-thumb-svg-left') }}
                            {% endif %}
                            <h2 class="font:2xl sm:font:3xl">
                                {{ post.data.title }}
                            </h2>
                            {% if loop.index > 1 %}
                                {{ icons.chevRight('w:20 sm:w:24 transform cs-thumb-svg-right') }}
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

</main>