@use "sass:map";
@use "uniform" as *;
@use "links" as *;

// Style markdown

.content\:experience,
.markdown {
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > p,
    & > pre { @include apply("w:100p max-w:640"); scroll-margin-top: 5.5rem; }
    & > h2 { @include apply("font:4xl sm:font:5xl leading:130 mb:18 sm:mb:28"); }
    & > h3 { @include apply("font:2xl sm:font:3xl leading:130 mb:16 sm:mb:24"); }
    & > p { @include apply("font:xl sm:font:2xl leading:170 color:content-i"); }
    & > p + h2 { @include apply("mt:48 sm:mt:64"); }
    & > p + h3 { @include apply("mt:36 sm:mt:48"); }
    & > p + p { @include apply("mt:20 sm:mt:28"); }
    & > pre + p,
    & > p + pre { @include apply("mt:20 sm:mt:28"); }
    p:last-child { @include apply("mb:48 sm:mb:64"); }
    &.blog p:last-child { @include apply("mb:0"); }
    figcaption { @include apply("font:sm sm:font:md font:serif italic tracking:normal opacity:70 leading:130"); }
    & > pre { @include apply("border:1 border:white border-opacity:10"); }

    mark { @include apply('bg:primary-rg bg-opacity:30 color:ink-3-i'); }

    p > code {
        @include apply("relative z:1 inline-block pl:4 pr:10 font:mono color:link-hv-i tracking:tighter");
        font-size: 0.75em;
        transform: translateY(-0.0625em);
        &:before {
            @include apply("absolute top:1 left:n2 z:n1 block w:100p bg:primary-rg bg-opacity:15 radius:sm");
            content: "";
            height: calc(100% - 0.1875rem);
            border: 0.0625rem solid rgba(var(--primary-rg), 0.3); }
    }

    .full-width { @include apply("relative w:1248 max-w:100vw sm:px:48"); }
}

.markdown > :first-child { @include apply("font:2xl sm:font:3xl"); }