@use "sass:map";
@use "uniform" as *;

/* purgecss start ignore */

// Base Button
.btn { @include apply("flex align-items:center justify-content:center radius:full border:1 leading:100 outline:none bold flex-shrink:0 tracking:loose"); }

// Button Sizes
.btn\:sm { @include apply("font:xs px:12 py:10")}
.btn\:md { @include apply("font:sm px:18 py:14")}
.btn\:lg { @include apply("font:md px:20 py:18")}

// Button Colors
.btn\:primary   { @include apply("color:link-hv bg:primary-rg bg-opacity:10 border:primary-rg border-opacity:30 backdrop backdrop-blur:sm transition:200 cubic-out"); transform: translate3d(0, 0, 0); }
.btn\:primary-i { @include apply("color:ink-3-i bg:primary-rg bg-opacity:20 border:primary-rg border-opacity:50 backdrop backdrop-blur:sm transition:200 cubic-out"); transform: translate3d(0, 0, 0); }
.btn\:white     { @include apply("color:ink-3-i bg:sheet-1    bg-opacity:10 border:sheet-1    border-opacity:30 backdrop backdrop-blur:sm transition:200 cubic-out"); transform: translate3d(0, 0, 0); }
.btn\:black     { @include apply("color:ink-3   bg:sheet-6-i  bg-opacity:10 border:sheet-6-i  border-opacity:30 backdrop backdrop-blur:sm transition:200 cubic-out"); transform: translate3d(0, 0, 0); }

// Special Buttons
.btn\:nav-item {@include apply("flex align-items:start gap:16 md:gap:8 font:lg md:font:sm leading:130 py:12 px:24 sm:px:48 md:px:16 w:100p bg:primary-rg bg-opacity:0 transition:200 cubic-out")}

// Button Hovers
@media (hover: hover) {
    .btn\:primary:hover   { @include apply("shadow:xs bg-opacity:20 border-opacity:50 transition:200 cubic-out"); transform: translate3d(0, 0, 0); animation: bump 50ms ease-in-out 25ms;}
    .btn\:primary-i:hover { @include apply("bg-opacity:40 border-opacity:70 transition:200 cubic-out"); transform: translate3d(0, 0, 0); animation: bump 50ms ease-in-out 25ms; }
    .btn\:white:hover     { @include apply("shadow:xs bg-opacity:30 border-opacity:50 transition:200 cubic-out"); transform: translate3d(0, 0, 0); animation: bump 50ms ease-in-out 25ms; }
    .btn\:black:hover     { @include apply("shadow:xs bg-opacity:20 border-opacity:50 transition:200 cubic-out"); transform: translate3d(0, 0, 0); animation: bump 50ms ease-in-out 25ms; }
    .btn\:nav-item:hover  { @include apply("bg-opacity:10 transition:200 cubic-out")}
    .hover\:bump:hover { animation: bump 50ms ease-in-out 25ms; }
}

// Links focuses
.btn:focus-visible { @include apply("bg:primary-rg border:primary-rg color:ink-3-i opacity:100")}
.btn\:nav-item:focus-visible  { @include apply("bg-opacity:100 color:white outline:none")}
.focus\:primary:focus-visible {@include apply("opacity:100 color:white bg:primary-rg border:1 border:primary-rg outline:none"); }

// Button Animations
@keyframes bump {
    0%    { transform: scale3d(1,1,1); }
    50%   { transform: scale3d(1.03,1.03,1.03); }
    100%  { transform: scale3d(1,1,1); }
}

// Inline Links
.link,
.markdown > p > a  {
    @include apply("relative inline-block transition:400");
    &:before { @include apply("absolute right:0 bottom:6 w:100p h:1"); content: ''; transition: width 400ms cubic-bezier(0.7, 0, 0.2, 1) 0ms; }
    &:after { @include apply("absolute left:0 bottom:6 w:0 h:1"); content: ''; transition: width 150ms cubic-bezier(0, 0.7, 0.2, 1) 0ms;}
    @media (hover: hover) {
        &:hover {
            @include apply("transition:400");
            &:before { @include apply("w:0"); transition: width 150ms cubic-bezier(0, 0.7, 0.2, 1) 0ms; }
            &:after  { @include apply("w:100p"); transition: width 400ms cubic-bezier(0.7, 0, 0.2, 1) 0ms; }
        }
    }
    &:focus, &:focus-visible {
        @include apply("outline:none");
        &:before { @include apply("bottom:4 left:n2 w:plus4 h:28 radius:md bg-opacity:20 border:1"); transition: width 0ms linear 0ms; }
        &:after  { @include apply("hidden"); }
    }
}

.link-rg-i,
.markdown > p > a {
    @include apply("color:ink-3-i");
    &:before { @include apply("bg:link-rg-i"); }
    &:after { @include apply("bg:link-rg-i"); }
    @media (hover: hover) {
        &:hover {
            @include apply("color:link-hv-i");
            &:before { @include apply("bg:link-hv-i"); }
            &:after  { @include apply("bg:link-hv-i"); }
        }
    }
    &:focus, &:focus-visible {
        &:before { @include apply("border:link-rg-i bg-opacity:20 border-opacity:50"); }
    }
}

.link-rg {
    @include apply("color:ink-3");
    &:before { @include apply("bg:link-rg"); }
    &:after { @include apply("bg:link-rg"); }
    @media (hover: hover) {
        &:hover {
            @include apply("color:link-hv");
            &:before { @include apply("bg:link-hv"); }
            &:after  { @include apply("bg:link-hv"); }
        }
    }
    &:focus, &:focus-visible {
        &:before { @include apply("border:link-rg bg-opacity:20 border-opacity:50"); }
    }
}

// Inline Link Hovers
@media (hover: hover) {
    .link-rg:hover   { @include apply("color:link-hv"); }
    .link-rg-i:hover { @include apply("color:link-hv-i"); }
}

// Inline Link Focus
.focus-visible:focus-visible,
.link-rg:focus-visible,
.link-rg-i:focus-visible { @include apply("color:white bg:primary-rg outline:none")}

// Graphical links
.case-study-link .fade-out { @include apply("transition:200 linear"); }
.case-study-link > div > svg { @include apply("transition:300 cubic-out"); }

@media (hover: hover) {
    .case-study-link:hover .fade-out { opacity:0; transition:opacity 300ms linear 50ms;}
    .case-study-link:hover > div > svg { @include apply("translate-x:8 transition:300 delay:50 cubic-out"); }
}

/* purgecss end ignore */