@use "sass:map";
@use "uniform" as *;

.gradient-text { background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.highlight {
    background: linear-gradient(0deg, rgba(var(--ui-green), 1) 0%, rgba(var(--ui-green), 1) 100%);
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: 100% 40%;
}