---
layout: "main.njk"
title: "FireHydrant"
seoTitle: "FireHydrant x Mike Stilling: Building at warp speed"
seoDescription: "See how Mike designed and built everything marketing related for Rewatch"
ogTitle: "Rewatch x FireHydrant: Building at warp speed"
ogDesc: "See how Mike designed and built everything marketing related for Rewatch"
ogImage: "/assets/images/og/default.png"
ogImageAlt: "This is the alt text for social cards images"
role: "Sr. Web Developer"
tags: project
barba: experience
theme: dark
changefreq: daily
---
{% import "_icons.njk" as icons %}

<main>

    {# Hero #}
    <section class="section">
        <div class="container pt:112 sm:pt:144 md:pt:192 pb:48 sm:pb:80 md:pb:96 flex flex:col gap:48 sm:gap:64 md:gap:96">
            {# Content #}
            <div class="relative flex flex:col md:flex:row align-items:center md:align-items:end md:justify-content:between text:center md:text:left">
                <h1 class="font:serif font:16vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                    Incident<br> <span class="space:nowrap">Management</span>
                </h1>
                <p class="font:5vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 max-w:576 md:max-w:50p md:mb:16">
                    FireHydrant helps engineering teams automate, respond to, learn from, and improve upon <span class="space:nowrap">their incidents.</span>
                </p>
            </div>
            <div class="flex ratio:16-9 bg:sheet-4-i ml:n24 sm:ml:0 w:plus48 sm:w:100p"></div>
        </div>
    </section>

    {# Content #}
    <section class="section">
        <div class="container flex flex:col align-items:center">
            {% set normalP = 'font:xl sm:font:2xl leading:170 opacity:80' %}
            {# Headline #}
            <div class="content:experience">
                <h2 class="intro">
                    During the economic downturn of late 2022 - early 2023, FireHydrant's newly formed marketing team was trying to offset a slowing outbound sales pipeline with consistent inbound leads. Mike was responsible for rapidly re/designing and re/building touchpoints that supported <span class="space:nowrap">this effort.</span>
                </h2>
                <p>
                    Within his first 30 days at FireHydrant, Mike redesigned and rebuilt the entire marketing site and shipped a brand-new "data story" campaign. Within his first 60, he helped launch an all new documentation site, and overhauled the FireHydrant visual identity; inciting a movement to rethink <span class="space:nowrap">the product UI.</span>
                </p>
                <p>
                    To accomplish this work at the velocity required, Mike relied heavily on his technical experience, while thoughtfully refining and reinforcing what was already working with the brand, and collaborating effectively with a new, <span class="space:nowrap">unfamiliar team.</span>
                </p>
            </div>
            {# List #}
            <ul class="w:100p max-w:640 md:max-w:none flex flex:col md:flex:row md:gap:28 justify-content:between font:lg md:font:xl border-t:1 border:white border-opacity:10 md:border-t:0 border:dashed mb:36 sm:mb:48 md:mb:64 mt:n24 md:mt:0">
                {% macro overviewItem(head, desc) %}
                    <li class="w:100p md:max-w:304 py:24 border-b:1 border:white border-opacity:10 md:border-b:0 border:dashed">
                        <h3 class="block bold">
                            {{ head | safe }}
                        </h3>
                        <p class="block opacity:70">
                            {{ desc | safe }}
                        </p>
                    </li>
                {% endmacro %}
                {{ overviewItem(
                    head="Adaptability",
                    desc='The ability to adhere to, improve upon, and flourish within an inherited situation that is less than ideal.'
                )}}
                {{ overviewItem(
                    head='Technical experience',
                    desc='Familiarity that stems from hands-on involvement working through tasks that directly relate to the current.'
                )}}
                {{ overviewItem(
                    head='Collaboration',
                    desc='Utilizing a team to accomplish more and better work than otherwise possible as a sole operator.'
                )}}
            </ul>
            {# Adaptability #}
            <div class="content:experience">
                <h3>
                    <span class="italic font:serif">on</span> Adaptability
                </h3>
                <p>
                    While interviewing with FireHydrant, the business outlook was fantastic... Almost immediately upon starting that had changed. So much so, that within Mike's first month, there was a round of layoffs that impacted ~20% of the company.
                </p>
                <p>
                    With that came the need for action, fast. This left little to no time for onboarding; Mike was coding and shipping his first week.
                </p>
                <p>
                    To add to the stress, the existing marketing site was cobbled together by an external agency using a framework that Mike was unfamiliar with along with a complete mismatch of styles, and a dumpster fire of a CMS.
                </p>
                <p>
                    To recap, the brand was rough, the site was a mess, the team was new, the outlook was bleak, and time, non-existent. So naturally, Mike's first suggestion while working at FireHydrant being to rebuild the entire marketing site initially sounded insane.
                </p>
                <h4>
                    Rebuild <span class="font:serif italic">and</span> refine
                </h4>
                <p>
                    Getting up to speed on the framework, detangling the CMS, and unifying the styling across the existing site would take longer than just rebuilding it from scratch. With that, the unfamiliarity would linger for months, adding time to future projects.
                </p>
                <p>
                    To qualm fears, Mike took a gamble and promised the rebuild to take three weeks or less. There was still some hesitation, so within his first week, Mike rebuilt the homepage overnight using his favorite tools.
                </p>
                <p>
                    This exercise helped communicate a few things. First, it provided a clear example of what the site could look like and that a massive jump/change in the brand itself wasn't needed. Specifically, it ensured the brand could benefit from it's existing recognition. Second, it built trust toward Mike being capable of delivering on his promise. Beyond that, it showed the code itself was easier to work on, maintain, and understand by <span class="space:nowrap">the greater team.</span>
                </p>
                <p>
                    The rebuild was approved and Mike got to work. He was able to deliver on his promise, and the new site was launched within three weeks improving uniformity, accessibility, performance, maintainability, and the overall brand.
                </p>
            </div>
            {# Technical Experience #}
            <div class="content:experience">
                <h3>
                    <span class="italic font:serif">on</span> Technical Experience
                </h3>
                <p>
                    The key to all of this progress in a short amount of time was Mike's direct experience doing these exact tasks: designing and building brands, campaigns, and websites from scratch for lean SaaS companies targetting enterprise customers.
                </p>
                <p>
                    Remixing and rebuilding a site like this wasn't a new experience. Mike had just finished doing this same thing, a couple of times, while at Rewatch. This gave him the foundation needed to move quickly without over-analyzing every micro decision.
                </p>
                <p>
                    For decisions like choosing an SSG or how to approach the CSS structure, or even something as complex as building out the navigation, Mike had a direct frame of reference. This excercise also gave Mike another opportunity to further refine those previous approaches to design and code along the way.
                </p>
                <h4>
                    <span class="font:serif italic">Informing</span> design
                </h4>
                <p>
                    How something is built can and should effect how it looks, and usually, it does — intentional or not. Most SaaS products and brands that are achieving excellence through design today are simply doing a better job at embracing the tools used to build it. Understanding this doesn't just lead to better quality, it also results in more efficiency, collaboration, and, ultimately, ARR.
                </p>
                <p>
                    Currently, for the web, that means knowing how to work within the box-model and make those boxes pretty. The beauty of this model is its simplicity and reliance on design fundamentals.
                </p>
                <p>
                    Fortunately, Mike was schooled in traditional print design. This education gave him an appreciation for visual design intricacies like value, white space, and size-relations that are often forgotten but foundational in achieving success through the box-model.
                </p>
                <p>
                    Pairing the understanding of what "makes" a design unique with the ability to technically break those properties apart helps Mike comprehend how great design is being created and then remix it toward the current problem he's trying to solve, fast.
                </p>
                <p>
                    On the dev side, this understanding has helped Mike choose tools and approaches that cater to these design requirements. For example, tools that make experimenting with and altering a grayscale across an entire site simple to nail value and contrast, or fine tuning line-height and letter-spacing to achieve the amount of optimal white space, site-wide.
                </p>
                <p>
                    In regards to FireHydrant, this knowledge and approach helped Mike quickly build and arrive upon a strong visual direction to an engineering-focused brand that was scalable while maintaining enough similarity to the existing direction to maintain brand recongnition. So much so, that the team wanted to find how to align the product to it, ASAP.
                </p>
            </div>
            {# Impact #}
            <div class="content:experience">
                <h3>
                    <span class="italic font:serif">on</span> Collaboration
                </h3>
                <p>
                    Collaboration often get's confused with communication. While both are important, simply communicating about work lacks action. Working in a "collaborative" environment with this mixup is generally frustrating in that the work tends be accomplished by one person while the other "collaborators" only responsibility is to voice feedback and direction.
                </p>
                <p>
                    To enable collaboration is to open up processes, making them approachable and easy to understand — within reason, giving every team member the ability to express, build, and share their ideas in a format that progresses work vs. picks it apart.
                </p>
                <p>
                    At FireHydrant, a major hurdle in the site rebuild/redesign was the existing product UI. Honestly, it was just bad — so much so that using it within marketing assets felt like a deturrent for prospects weighing the tool against competitors.
                </p>
                <h4>
                    <span class="font:serif italic">Major</span> hurdles
                </h4>
                <p>
                    After seeing that the current product UI looked terrible within the new marketing site design, Mike decided to redesign a few key product screens on-the-fly and stub them into the new site —unintentionally sparking chaos and outrage 🙈.
                </p>
                <p>
                    The VP of Product Design was furious. It turns out, they had been working on a redesign of the product for the past six months in a hidden Figma file that was sheltered from outside teams. The examples Mike had put together were in direct conflict with that work and, to some extent, forced that work <span class="space:nowrap">to be seen</span> by the greater team.
                </p>
                <p>
                    Adding to the awkwardness, once shown, the direction of that product redesign was not well received nor was there much progress for the amount of time that had been spent on it.
                </p>
                <p>
                    All of this was happening around Mike's 15 day mark at the company. To be fair, it was probably weird that a person with the role of Sr. Web Developer, working on the marketing side of things, was proposing product redesigns. While moving fast, Mike also neglected to gain insight into historical context and what may have lead to the current state of the product. In any case, it got even weirder a week later when the VP of Product Design was let go during a round of layoffs...
                </p>
                <p>
                    At this point, the site rebuild had been blocked by need for product UI that both looked good and aligned more closely with the existing product. Aside from the previous VP, the rest of the product design team was relatively new. Now, two new teams were left in an extremely awkward situation and had to quickly figure out how to work together to keep progressing.
                </p>
                <h4>
                    <span class="font:serif italic">Removing</span> silos
                </h4>
                <p>
                    In this scenario, getting past the awkwardness and making progress required the problem to be shown in a way that resonated with the other designers. To do this, Mike replaced all of his new product designs on the rebuilt marketing site with graphics of the current product. This made the challenge visible. Simultaneously, Mike converted the pages that he designed in code to Figma so that the product design team could easily experiment with solutions that they too felt good about.
                </p>
                <p>
                    This approach worked. It saved time since the product team could work on product visuals while Mike continued on with other aspects of the site. It also better familiarized the marketing and product teams — giving glimpses into the problems each team was trying to address.
                </p>
                <h4>
                    <span class="font:serif italic">Built</span> for teams
                </h4>
                <p>
                    Whether it be how he landed on the grayscale or how the code works, Mike continually documented how and why he was building things in the way that he was. And, at FireHydrant, doing this paid off rather quickly.
                </p>
                <p>
                    Typically, Mike documents work for a couple of reasons. First, the process of forcing oneself to present what they're doing acts as a check on logic and reasoning. Secondly, by sharing that documentation, it enables others to understand and build upon the work while also reviewing it, preventing silos.
                </p>
                <p>
                    At FireHydrant, this documentation paid of quickly in the form of a custom documentation site for the product. Equipped with all of the documentation Mike put together for the marketing site, one of the sales engineers was able to repurpose the code Mike wrote for it to build out an MVP for a Docs site within a week or two, effectively removing a costly help-center tool from the stack while also leveling up the quality of the Docs site.
                </p>
                <p>
                    After syncing up on the project, Mike helped with some final touches on the design and then they shipped it.
                </p>
                <h4>
                    <span class="font:serif italic">Inspiring</span> the organization
                </h4>
                <p>
                    At the time, the rate at which the new marketing and docs sites were shipped along with the quality that was met, was a positive change of pace for FireHydrant. After seeing how these projects were approached and built the rest of the team wanted in.
                </p>
                <p>
                    Similar to the marketing site, but at a larger scale, progress on the product-side was bogged down by technical and design debt — now there was a direct reference on how these could be improved by simply utilizing similar, well-documented approaches to design and rewriting the front-end in a way that enabled more folks to more easily play a role in building it.
                </p>
                <p>
                    Shortly after parting ways with FireHydrant, they shipped a new, fully redesigned product that was built within weeks 🚢.
                </p>
            </div>
            {# Takeaways #}
            <div class="content:experience">
                <h3>
                    Key <span class="italic font:serif">Takeaways</span>
                </h3>
                <p>
                    While Mike's time at FireHydrant was brief, it was impactful and loaded with new experiences that he learned from. Here are a few of the key takeaways:
                </p>
                <h4>
                    Seeing is believing
                </h4>
                <p>
                   It's easier to get people to believe in, trust, and advocate for something that they can see and interact with, vs. something they can only read or hear about. Sometimes, building an example is a better first step than asking for permission.
                </p>
                <h4>
                    Lead through action
                </h4>
                <p>
                    Aside from leading and managing the company, Robert Ross, the Co-founder and CEO of FireHydrant, regularly pushes code, writes blog/social posts, and records videos to market the product. It was inspiring to work with and alongside him. Mike strives to lead in similar ways, demonstrating empathy and understanding through first-hand experience, doing the work.
                </p>
                <h4>
                    Solutions > Problems
                </h4>
                <p>
                    Focusing on how or why something is problematic is easier than finding a resolution to make it work within those constraints. Though, almost always, finding that solution is going to be more valuable and rewarding than basking in problems, even if the situation it was built within is less than ideal.
                </p>
            </div>
        </div>
    </section>

</main>