---
layout: "main.njk"
seoTitle: "Mike Stilling: design, development, and strategy"
seoDescription: "Mike builds brands, campaigns, and websites that drive revenue."
ogTitle: "Mike Stilling: design, development, and strategy"
ogDesc: "Mike builds brands, campaigns, and websites that drive revenue."
ogImage: "/assets/images/og/default.jpg"
ogImageAlt: "Mike and his family with the website URL typed over them"
barba: home
theme: dark
changefreq: daily
---
{% import "components/_icons.njk" as icons %}

<main>
    
    {# Hero #}
    <section data-home-hero class="section">
        <div class="container pt:112 sm:pt:144 md:pt:192 pb:48 sm:pb:80 md:pb:96 flex flex:col gap:48 sm:gap:64 md:gap:96">
            {# Content #}
            <div class="relative flex flex:col md:flex:row align-items:center md:align-items:end md:justify-content:between text:center md:text:left">
                <h1 data-headline class="font:serif font:12vw sm:font:12xl md:font:8vw lg:font:12xl leading:110 mb:12 md:mb:0 tracking:tight">
                    Design-led growth <span class="space:nowrap">for SaaS companies</span>
                </h1>
                <p data-subhead class="font:7vw sm:font:4xl md:font:2-5vw lg:font:4xl opacity:70 leading:130 md:mb:14 lg:mb:16 tracking:tight">
                    Brands, campaigns, and<br class="hidden md:block"/> <span class="space:nowrap sm:space:normal md:space:nowrap">websites that drive revenue.</span>
                </p>
            </div>
            {# Graphics #}
            <div class="relative w:100p flex flex:col md:flex:row-reverse justify-content:between">
                {# Image #}
                <div class="relative z:2 flex align-items:center justify-content:center w:100p md:w:10-12 ratio:1-1 sm:ratio:16-9 bg:sheet-4-i mb:16 md:mb:0 overflow:hidden">
                    <img
                        data-home-hero-img
                        src="/assets/images/graphics/home-hero.webp"
                        alt="Mike, Kerry, and the dogs"
                        width="1920" height="1920"
                        class="absolute top:0 w:100p h:auto max-w:none"
                    />
                    <div data-reveal class="absolute top:n2 left:n2 w:plus4 h:plus4 transform transform:top bg:sheet-6-i"></div>
                </div>
                {# Caption #}
                <div class"relative">
                    <div data-dash class="hidden md:block w:24 h:1 bg:primary-rg mb:16"></div>
                    <div class="flex gap:8 md:block leading:140 opacity:70 font:xs sm:font:sm justify-content:center sm:justify-content:start">
                        <p data-caption>Mike and family</p>
                        <span class="md:hidden">·</span>
                        <p data-caption>On the road, WI</p>
                        <span class="md:hidden">·</span>
                        <p data-caption class="italic">Sometime 2021</p>
                    </div>
                </divn>
            </div>
        </div>
    </section>

    {# Intro #}
    <section class="section">
        <div class="container flex flex:col align-items:center sm:gap:80">
            {# Headline #}
            <h2 data-intro class="w:plus16 sm:w:100p sm:max-w:640 md:max-w:none md:w:8-12 font:5-5vw sm:font:6xl md:font:3-75vw lg:font:7xl sm:tracking:tight pb:24 sm:pb:0 border-b:1 border:white border-opacity:10 sm:border-b:0 border:dashed">
                Mike has been designing, developing, and strategizing for brands across an array of industries for over eight years.
            </h2>
            {# List #}
            <ul class="w:100p flex flex:col sm:flex:row sm:gap:28 justify-content:between font:5-5vw sm:font:md md:font:xl">
                {% macro overviewItem(head, desc) %}
                    <li class="w:100p sm:max-w:256 md:max-w:304 py:24 border-b:1 border:white border-opacity:10 sm:border-b:0 border:dashed">
                        <h3 data-intro class="inline bold">
                            {{ head | safe }}
                        </h3>
                        <p data-intro class="inline opacity:70">
                            {{ desc | safe }}
                        </p>
                    </li>
                {% endmacro %}
                {{ overviewItem(
                    head='Designer.',
                    desc='Trained in graphic design, with experience designing almost anything <span class="space:nowrap">in every medium.</span>'
                )}}
                {{ overviewItem(
                    head="Developer.",
                    desc='Builds marketing sites, from scratch, at the speed of light, <span class="space:nowrap">that perform</span> well <span class="space:nowrap">and look nice.</span>'
                )}}
                {{ overviewItem(
                    head='Strategy.',
                    desc='Plans, shapes, and refines projects that play to team strengths and deliver <span class="space:nowrap"><span class="md:hidden lg:inline">impactful</span> results.</span>'
                )}}
            </ul>
        </div>
    </section>

    {# Case Studies #}
    <section class="section section:pb">
        <div class="container flex flex:col">
            <h2 class="relative font:serif font:32vw sm:font:20vw lg:font:16rem sm:space:nowrap leading:90 sm:leading:80 tracking:tight gradient-text bg:ink-3-i bg:fade-up-sheet4i text:center mt:48 sm:mt:0 pt:24 sm:pt:96 md:pt:112 pb:36 sm:pb:0 mb:n56 sm:mb:n16 md:mb:n24">
                    Case studies
            </h2>
            <div class="relative w:100p flex flex:col sm:flex:row justify-content:between gap:28">
                <a href="/case-studies/rewatch/" class="relative w:100p sm:w:50minus14 flex-shrink:0 ratio:1-1 sm:ratio:3-4 md:ratio:1-1 py:16 sm:py:28 px:28 flex flex:col justify-content:start overflow:hidden case-study-link rewatch" style="background: radial-gradient(100% 100% at 50% 0%, rgba(43, 114, 253, 0.4) 0%, rgba(32, 107, 255, 0) 100%), rgba(var(--sheet-5-i), 1);">
                    <div class="flex absolute top:0 left:0 w:100p ratio:1-1 bg:sheet-5-i fade-out"></div>
                    <img src="/assets/images/graphics/home-rewatch.webp" width="562" height="562" loading="lazy" decoding="async" alt="" class="absolute bottom:n24 sm:bottom:0 md:bottom:n12 lg:bottom:0 left:0 w:100p h:auto">
                    <div class="relative z:2 flex align-items:center">
                        <h3 class="font:3xl">
                            Rewatch
                        </h3>
                        {{ icons.chevRight('transform w:24 mt:2') }}
                    </div>
                    <p class="relative z:2 lg:font:lg opacity:50 leading:130 max-w:288 mt:4">
                        Designing and building <span class="space:nowrap">everything marketing related.</span>
                    </p>
                </a>
                <div class="flex flex:col gap:28 w:100p">
                    <a href="/case-studies/firehydrant/" class="relative z:1 flex-grow:1 py:16 sm:py:28 px:28 flex flex:col sm:justify-content:between ratio:1-1 sm:ratio:unset overflow:hidden case-study-link firehydrant" style="background: radial-gradient(124% 124% at 50% 0%, rgba(239, 100, 0, 0.2) 0%, rgba(177, 0, 0, 0) 100%), rgba(var(--sheet-5-i), 1);">
                        <div class="flex absolute top:0 left:0 w:100p h:100p bg:sheet-5-i fade-out"></div>
                        <img src="/assets/images/graphics/home-firehydrant.webp" width="488" height="366" loading="lazy" decoding="async" alt="" class="absolute bottom:n48 sm:bottom:unset sm:top:36 sm:right:n48 w:100p sm:w:8-12 h:auto border:1 border:white border-opacity:10 radius-tl:md" style="mask-image: radial-gradient(100% 100% at 50% 0%, #000000 0%, rgba(0, 0, 0, 0) 90%); -webkit-mask-image: radial-gradient(100% 100% at 50% 0%, #000000 0%, rgba(0, 0, 0, 0) 90%);">
                        <div class="relative z:2 flex align-items:center">
                            <h3 class="font:3xl">
                                FireHydrant
                            </h3>
                            {{ icons.chevRight('transform w:24 mt:2') }}
                        </div>
                        <p class="lg:font:lg opacity:50 leading:130 max-w:160 lg:max-w:192">
                            Rebuilding a site and brand within 30 days.
                        </p>
                    </a>
                    <a href="/case-studies/abstract/" class="relative z:1 flex-grow:1 py:16 sm:py:28 px:28 flex flex:col sm:justify-content:between ratio:1-1 sm:ratio:unset overflow:hidden case-study-link abstract" style="background: radial-gradient(124% 124% at 50% 0%, rgba(80, 94, 206, 0.4) 0%, rgba(80, 94, 206, 0) 100%), rgba(var(--sheet-5-i), 1);">
                        <div class="flex absolute top:0 left:0 w:100p h:100p bg:sheet-5-i fade-out"></div>
                        <img src="/assets/images/graphics/home-abstract.webp" width="488" height="366" loading="lazy" decoding="async" alt="" class="absolute bottom:n48 sm:bottom:unset sm:top:36 sm:right:n48 w:100p sm:w:8-12 h:auto border:1 border:white border-opacity:10 radius-tl:md" style="mask-image: radial-gradient(100% 100% at 50% 0%, #000000 0%, rgba(0, 0, 0, 0) 90%); -webkit-mask-image: radial-gradient(100% 100% at 50% 0%, #000000 0%, rgba(0, 0, 0, 0) 90%);">
                        <div class="relative z:2 flex align-items:center">
                            <h3 class="font:3xl">
                                Abstract
                            </h3>
                            {{ icons.chevRight('transform w:24 mt:2') }}
                        </div>
                        <p class="lg:font:lg opacity:50 leading:130 max-w:192 lg:max-w:224">
                            Launching a new product. Reimaging content hubs.
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {# Experience #}
    <section class="section pb:48 sm:pb:72">
        <div class="container">
            {# Headline #}
            <h2 class="flex flex:col font:serif leading:100 font:12vw sm:font:8xl md:font:11xl mb:24 sm:mb:0">
                <div>
                    Qualifications&nbsp;
                </div>
                <div>
                    &amp; experience
                </div>
            </h2>
            {# Content #}
            <div class="relative flex flex:col-reverse sm:flex:row justify-content:between w:100p">
                {# Col 1 #}
                <div class="flex flex:col w:100p sm:w:50minus14 gap:48 sm:gap:40 md:gap:72 lg:gap:64 sm:pt:40 md:pt:64 lg:pt:72">
                    {# Tools #}
                    <div class="flex flex:col sm:max-w:320 md:max-w:384">
                        <h3 class="bold mb:24">
                            Tool belt:
                        </h3>
                        <ul class="flex flex:wrap gap:6 sm:max-w:384">
                            {% macro toolItem(tool) %}
                                <li class="border:1 border:white border-opacity:15 font:xs uppercase tracking:loosest radius:sm leading:100 pt:6 pb:4 px:6 color:ink-1-i">
                                    {{ tool }}
                                </li>
                            {% endmacro %}
                            {{toolItem('Figma')}}
                            {{toolItem('Photoshop')}}
                            {{toolItem('Illlustrator')}}
                            {{toolItem('After Effects')}}
                            {{toolItem('Blender')}}
                            {{toolItem('CSS')}}
                            {{toolItem('HTML')}}
                            {{toolItem('Javascript')}}
                            {{toolItem('Greensock')}}
                            {{toolItem('NodeJS')}}
                            {{toolItem('Github')}}
                            {{toolItem('VSCode')}}
                            {{toolItem('Analytics')}}
                            {{toolItem('Contentful')}}
                            {{toolItem('Hubspot')}}
                        </ul>
                    </div>
                    {# Values #}
                    <div class="flex flex:col w:100p">
                        <h3 class="bold mb:24">
                            Values:
                        </h3>
                        <ul class="flex justify-content:between sm:justify-content:start col-gap:14 row-gap:28 md:row-gap:28 md:col-gap:28 flex:wrap">
                            {% macro valueItem(head, desc) %}
                                <li class="w:100p max-w:154 md:max-w:192">
                                    <h4 class="md:font:lg font:serif">
                                        {{ head | safe }}
                                    </h4>
                                    <p class="font:sm md:font:md opacity:70">
                                        {{ desc | safe }}
                                    </p>
                                </li>
                            {% endmacro %}
                            {{ valueItem(
                                head='Transparency',
                                desc='Sharing early and often <span class="space:nowrap">to prevent</span> snags later on.'
                            )}}
                            {{ valueItem(
                                head='Shipping often',
                                desc='Great enough leads to <span class="space:nowrap">better results</span> than perfect.'
                            )}}
                            {{ valueItem(
                                head='Focus',
                                desc='Doing the right work vs. <span class="space:nowrap">lots of</span> low-impact work.'
                            )}}
                            {{ valueItem(
                                head='DIY-culture',
                                desc='Working with people <span class="space:nowrap">who like</span> to make > plan.'
                            )}}
                        </ul>
                    </div>
                </div>
                {# Col 2 #}
                <ul class="relative w:100p sm:w:50minus14 flex-shrink:0 transform md:translate-y:12 border-t:1 border:white border-opacity:10 sm:mt:n64 md:mt:n96 mb:48 sm:mb:0">
                    {% macro job(icon, head, role, date, desc) %}
                        <li data-accordion class="relative w:100p border-b:1 border:white border-opacity:10">
                            <button data-accordion-button aria-controls="accordion-{{ head | slugify }}" aria-expanded="false" type="button" class="relative w:100p flex justify-content:between align-items:center py:20 md:py:24 text:left leading:100 opacity:75 transition:200">
                                <div data-job-title class="flex align-items:center gap:8 sm:gap:16 lg:gap:24">
                                    {{ icon }}
                                    <h3 class="font:xl sm:font:3xl">
                                        {{ head }}
                                    </h3>
                                </div>
                                <div class="flex align-items:center gap:16 lg:gap:48 font:xs md:font:sm lg:font:md">
                                    <p class=" sm:hidden md:block opacity:70 w:112 lg:w:128">
                                        {{ role }}
                                    </p>
                                    <p class="hidden sm:block opacity:70 sm:w:64 md:w:72">
                                        {{ date }}
                                    </p>
                                    <div data-accordion-carat class="w:28 h:28 radius:full border:1 border:white border-opacity:30 flex align-items:center justify-content:center">
                                        {{ icons.chevDown('w:16 mt:2')}}
                                    </div>
                                </div>
                            </button>
                            <div data-accordion-content id="accordion-{{ head | slugify }}" class="relative overflow:hidden" style="height:0; opacity:0; visibility:hidden;">
                                <p class="font:md md:font:lg lg:font:lg opacity:70 pb:20 md:pb:24">
                                    {{ desc | safe }}
                                </p>
                            </div>
                        </li>
                    {% endmacro %}
                    {{ job(
                        icon=icons.customerRewatchIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='Rewatch',
                        role='Sr. Web Designer',
                        date='1.75 years',
                        desc='As the first and only designer on the marketing side of things, Mike designs and builds anything marketing related—from ads to the <span class="space:nowrap">marketing site.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerFirehydrantIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='FireHydrant',
                        role='Sr. Web Developer',
                        date='5 months',
                        desc='Mike rebuilt and redesigned the entire marketing website within his first <span class="space:nowrap">three weeks</span> while also shipping multiple LP’s and <span class="space:nowrap">overhauling the brand.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerAbstractIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='Abstract',
                        role='Sr. Web Designer',
                        date='7 months',
                        desc='Mike designed and built the marketing websites, mainly focusing on <span class="space:nowrap">content hubs.</span> He also helped with product design <span class="space:nowrap">and marketing ops.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerBaunfireIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='Baunfire',
                        role='Sr. Web Designer',
                        date='6 months',
                        desc='Mike worked with external marketing teams at well-funded startups <span class="space:nowrap">and VCs to</span> strategize, design, and elevate <span class="space:nowrap">their marketing websites.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerGmrIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='GMR',
                        role='Digital Designer',
                        date='2 years',
                        desc='Mike designed interactive apps, games, websites, and other digital experiences for Fortune 500 companies with <span class="space:nowrap">large, global teams.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerStillingIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='Stilling',
                        role='Freelance',
                        date='2 years',
                        desc='Mike sold, managed, and executed design work, including branding, web design, and animation, for numerous clients, <span class="space:nowrap">across multiple industries.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerMillercoorsIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='MillerCoors',
                        role='Designer',
                        date='1 year',
                        desc='At MillerCoors, Mike designed motion, POS, and OOH graphics to be presented in stadiums, on the web, on television, <span class="space:nowrap">and at events.</span>'
                    )}}
                    {{ job(
                        icon=icons.customerHiebingIcon('w:20 sm:w:28 flex-shrink:0'),
                        head='Hiebing',
                        role='Motion Designer',
                        date='3 mos',
                        desc='At Hiebing, Mike worked with art and creative directors to create motion graphics for web, social, <span class="space:nowrap">and television placements.</span>'
                    )}}
                </ul>
            </div>
        </div>
    </section>

    {# Logo wall #}
    <section class="section section:pb">
        <div class="container flex flex:col sm:flex:row align-items:center">
            <h3 class="flex-shrink:0 font:2xs sm:font:xs uppercase opacity:70 tracking:loosest mb:12 sm:mb:24 sm:mb:n2 sm:pr:64 md:pr:96">
                Agency clients include
            </h3>
            <ul class="relative flex w:100p w:100p justify-content:between pb:56 sm:pb:0 border-b:1 border:white border-opacity:10 sm:border-b:0">
                {% macro client(icon) %}
                    <li class="w:auto flex align-items:center justify-content:center opacity:30">
                        {{ icon }}
                    </li>
                {% endmacro %}
                {{ client(icons.customerHBO('w:48 sm:w:80 md:w:96')) }}
                {{ client(icons.customerATT('w:40 sm:w:72 md:w:96')) }}
                {{ client(icons.customerNissan('w:72 sm:w:96 md:w:112'), 'true') }}
                {{ client(icons.customerXfinity('w:36 sm:w:64 md:w:80')) }}
                {{ client(icons.customerVisa('w:28 sm:w:40 md:w:56')) }}
            </ul>
        </div>
    </section>

    {# Articles #}
    <section class="section section:pb">
        <div class="container">
            {# Headline #}
            <h2 class="flex flex:col font:serif leading:100 font:12vw sm:font:8xl md:font:11xl mb:24 sm:mb:48">
                <div class="line-through">
                    Thoughts&nbsp;
                </div>
                <div>
                    Suggestions
                </div>
            </h2>
            <div aria-hidden="true" class="relative z:1 w:100p flex justify-content:center align-items:center overflow:hidden">
                <ul class="w:100p flex gap:28">
                    <li class="w:100p flex ratio:3-4 bg:sheet-4-i"></li>
                    <li class="w:100p flex ratio:3-4 bg:sheet-4-i"></li>
                    <li class="w:100p flex ratio:3-4 bg:sheet-4-i"></li>
                </ul>
                <div class="absolute flex gap:12 bg:primary-rg sm:font:xl color:white px:12 transform rotate:12">
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                </div>
                <div class="absolute flex gap:12 bg:white sm:font:xl color:primary-rg px:12 transform rotate:n12">
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                    <div class="flex-shrink:0 space:nowrap"> Coming soon</div>
                </div>
            </div>
        </div>
    </section>

</main>